// Colors
$third-color:rgb(160, 160, 236);
$secondary-color:rgb(223, 172, 78);
$primary-color:rgb(27, 27, 88);


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);
$primary-font:'Poppins', sans-serif;